@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import 'tailwindcss';

@theme {
  /* Colors */
  --background-color-musablack: #0a0a0a;
  --color-musablack: #0a0a0a;

  /* /Fonts */
  --font-merriweather: 'Merriweather', system-ui, sans-serif;
  --font-geist: 'Geist', system-ui, sans-serif;
  --font-baloo: 'Baloo Bhai 2', system-ui, sans-serif;

}

/* Scrollbar styling - Firefox */
.scrollbar-simple {
  scrollbar-width: thin;
  scrollbar-color: rgba(250, 250, 250, 0.31) transparent;
}

/* Scrollbar styling - Chrome, Edge, Safari */
.scrollbar-simple::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-simple::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-simple::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}
